.todo-container{
    width: 500px;
    margin: 0 auto;

    .todo-Add {
        
    }

    .list-todo {
        .todo-child {                                                                                   
            &:first-child{
                border-top: solid 1px;
            }
        border-bottom: solid 1px;
        height: 50px;
        margin: 10px 0px;
        .child{
           
            .btn-delete {
                margin-left: 10px;
            }
            .btn-edit {
                margin-left: 40px;
            }
         }
        }
    }


}